/* Enter your custom styles here */

  .green {
            background-color: #66FF33 !important;
        }
        .red {
            background-color: #FF3300;
        }
        .yellow {
            background-color: #FFFF66;
        }